@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

body {
  margin: 0;
  font-family: 'Press Start 2P', 'VT323', 'Share Tech Mono', monospace;
  background: #181826;
  color: #fff43a;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
}

/* monospace for code blocks */
code {
  font-family: 'VT323', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: 1em;
  color: #00fff7;
}
